api_atendimentos/db/data/#ib_16384_0.dblwr
api_atendimentos/db/data/#ib_16384_1.dblwr
api_atendimentos/db/data/auto.cnf
api_atendimentos/db/data/binlog.000001
api_atendimentos/db/data/binlog.000002
api_atendimentos/db/data/binlog.000003
api_atendimentos/db/data/binlog.000004
api_atendimentos/db/data/binlog.000005
api_atendimentos/db/data/binlog.000006
api_atendimentos/db/data/binlog.000007
api_atendimentos/db/data/binlog.index
api_atendimentos/db/data/ca-key.pem
api_atendimentos/db/data/ca.pem
api_atendimentos/db/data/client-cert.pem
api_atendimentos/db/data/client-key.pem
api_atendimentos/db/data/ib_buffer_pool
api_atendimentos/db/data/ib_logfile0
api_atendimentos/db/data/ib_logfile1
api_atendimentos/db/data/ibdata1
api_atendimentos/db/data/ibtmp1
api_atendimentos/db/data/mysql.ibd
api_atendimentos/db/data/private_key.pem
api_atendimentos/db/data/public_key.pem
api_atendimentos/db/data/server-cert.pem
api_atendimentos/db/data/server-key.pem
api_atendimentos/db/data/undo_001
api_atendimentos/db/data/undo_002
api_atendimentos/db/data/#innodb_temp/temp_1.ibt
api_atendimentos/db/data/#innodb_temp/temp_2.ibt
api_atendimentos/db/data/#innodb_temp/temp_3.ibt
api_atendimentos/db/data/#innodb_temp/temp_4.ibt
api_atendimentos/db/data/#innodb_temp/temp_5.ibt
api_atendimentos/db/data/#innodb_temp/temp_6.ibt
api_atendimentos/db/data/#innodb_temp/temp_7.ibt
api_atendimentos/db/data/#innodb_temp/temp_8.ibt
api_atendimentos/db/data/#innodb_temp/temp_9.ibt
api_atendimentos/db/data/#innodb_temp/temp_10.ibt
api_atendimentos/db/data/app_db/Atendimentos.ibd
api_atendimentos/db/data/mysql/general_log_213.sdi
api_atendimentos/db/data/mysql/general_log.CSM
api_atendimentos/db/data/mysql/general_log.CSV
api_atendimentos/db/data/mysql/slow_log_214.sdi
api_atendimentos/db/data/mysql/slow_log.CSM
api_atendimentos/db/data/mysql/slow_log.CSV
api_atendimentos/db/data/performance_schema/accounts_145.sdi
api_atendimentos/db/data/performance_schema/binary_log_trans_189.sdi
api_atendimentos/db/data/performance_schema/cond_instances_82.sdi
api_atendimentos/db/data/performance_schema/data_lock_waits_161.sdi
api_atendimentos/db/data/performance_schema/data_locks_160.sdi
api_atendimentos/db/data/performance_schema/error_log_83.sdi
api_atendimentos/db/data/performance_schema/events_errors_su_139.sdi
api_atendimentos/db/data/performance_schema/events_errors_su_140.sdi
api_atendimentos/db/data/performance_schema/events_errors_su_141.sdi
api_atendimentos/db/data/performance_schema/events_errors_su_142.sdi
api_atendimentos/db/data/performance_schema/events_errors_su_143.sdi
api_atendimentos/db/data/performance_schema/events_stages_cu_111.sdi
api_atendimentos/db/data/performance_schema/events_stages_hi_112.sdi
api_atendimentos/db/data/performance_schema/events_stages_hi_113.sdi
api_atendimentos/db/data/performance_schema/events_stages_su_114.sdi
api_atendimentos/db/data/performance_schema/events_stages_su_115.sdi
api_atendimentos/db/data/performance_schema/events_stages_su_116.sdi
api_atendimentos/db/data/performance_schema/events_stages_su_117.sdi
api_atendimentos/db/data/performance_schema/events_stages_su_118.sdi
api_atendimentos/db/data/performance_schema/events_statement_119.sdi
api_atendimentos/db/data/performance_schema/events_statement_120.sdi
api_atendimentos/db/data/performance_schema/events_statement_121.sdi
api_atendimentos/db/data/performance_schema/events_statement_122.sdi
api_atendimentos/db/data/performance_schema/events_statement_123.sdi
api_atendimentos/db/data/performance_schema/events_statement_124.sdi
api_atendimentos/db/data/performance_schema/events_statement_125.sdi
api_atendimentos/db/data/performance_schema/events_statement_126.sdi
api_atendimentos/db/data/performance_schema/events_statement_127.sdi
api_atendimentos/db/data/performance_schema/events_statement_128.sdi
api_atendimentos/db/data/performance_schema/events_statement_129.sdi
api_atendimentos/db/data/performance_schema/events_statement_130.sdi
api_atendimentos/db/data/performance_schema/events_transacti_131.sdi
api_atendimentos/db/data/performance_schema/events_transacti_132.sdi
api_atendimentos/db/data/performance_schema/events_transacti_133.sdi
api_atendimentos/db/data/performance_schema/events_transacti_134.sdi
api_atendimentos/db/data/performance_schema/events_transacti_135.sdi
api_atendimentos/db/data/performance_schema/events_transacti_136.sdi
api_atendimentos/db/data/performance_schema/events_transacti_137.sdi
api_atendimentos/db/data/performance_schema/events_transacti_138.sdi
api_atendimentos/db/data/performance_schema/events_waits_cur_84.sdi
api_atendimentos/db/data/performance_schema/events_waits_his_85.sdi
api_atendimentos/db/data/performance_schema/events_waits_his_86.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_87.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_88.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_89.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_90.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_91.sdi
api_atendimentos/db/data/performance_schema/events_waits_sum_92.sdi
api_atendimentos/db/data/performance_schema/file_instances_93.sdi
api_atendimentos/db/data/performance_schema/file_summary_by__94.sdi
api_atendimentos/db/data/performance_schema/file_summary_by__95.sdi
api_atendimentos/db/data/performance_schema/global_status_181.sdi
api_atendimentos/db/data/performance_schema/global_variables_184.sdi
api_atendimentos/db/data/performance_schema/host_cache_96.sdi
api_atendimentos/db/data/performance_schema/hosts_146.sdi
api_atendimentos/db/data/performance_schema/keyring_componen_191.sdi
api_atendimentos/db/data/performance_schema/keyring_keys_152.sdi
api_atendimentos/db/data/performance_schema/log_status_174.sdi
api_atendimentos/db/data/performance_schema/memory_summary_b_154.sdi
api_atendimentos/db/data/performance_schema/memory_summary_b_155.sdi
api_atendimentos/db/data/performance_schema/memory_summary_b_156.sdi
api_atendimentos/db/data/performance_schema/memory_summary_b_157.sdi
api_atendimentos/db/data/performance_schema/memory_summary_g_153.sdi
api_atendimentos/db/data/performance_schema/metadata_locks_159.sdi
api_atendimentos/db/data/performance_schema/mutex_instances_97.sdi
api_atendimentos/db/data/performance_schema/objects_summary__98.sdi
api_atendimentos/db/data/performance_schema/performance_time_99.sdi
api_atendimentos/db/data/performance_schema/persisted_variab_187.sdi
api_atendimentos/db/data/performance_schema/prepared_stateme_175.sdi
api_atendimentos/db/data/performance_schema/processlist_100.sdi
api_atendimentos/db/data/performance_schema/replication_appl_165.sdi
api_atendimentos/db/data/performance_schema/replication_appl_166.sdi
api_atendimentos/db/data/performance_schema/replication_appl_167.sdi
api_atendimentos/db/data/performance_schema/replication_appl_168.sdi
api_atendimentos/db/data/performance_schema/replication_appl_170.sdi
api_atendimentos/db/data/performance_schema/replication_appl_171.sdi
api_atendimentos/db/data/performance_schema/replication_asyn_172.sdi
api_atendimentos/db/data/performance_schema/replication_asyn_173.sdi
api_atendimentos/db/data/performance_schema/replication_conn_162.sdi
api_atendimentos/db/data/performance_schema/replication_conn_164.sdi
api_atendimentos/db/data/performance_schema/replication_grou_163.sdi
api_atendimentos/db/data/performance_schema/replication_grou_169.sdi
api_atendimentos/db/data/performance_schema/rwlock_instances_101.sdi
api_atendimentos/db/data/performance_schema/session_account__151.sdi
api_atendimentos/db/data/performance_schema/session_connect__150.sdi
api_atendimentos/db/data/performance_schema/session_status_182.sdi
api_atendimentos/db/data/performance_schema/session_variable_185.sdi
api_atendimentos/db/data/performance_schema/setup_actors_102.sdi
api_atendimentos/db/data/performance_schema/setup_consumers_103.sdi
api_atendimentos/db/data/performance_schema/setup_instrument_104.sdi
api_atendimentos/db/data/performance_schema/setup_objects_105.sdi
api_atendimentos/db/data/performance_schema/setup_threads_106.sdi
api_atendimentos/db/data/performance_schema/socket_instances_147.sdi
api_atendimentos/db/data/performance_schema/socket_summary_b_148.sdi
api_atendimentos/db/data/performance_schema/socket_summary_b_149.sdi
api_atendimentos/db/data/performance_schema/status_by_accoun_177.sdi
api_atendimentos/db/data/performance_schema/status_by_host_178.sdi
api_atendimentos/db/data/performance_schema/status_by_thread_179.sdi
api_atendimentos/db/data/performance_schema/status_by_user_180.sdi
api_atendimentos/db/data/performance_schema/table_handles_158.sdi
api_atendimentos/db/data/performance_schema/table_io_waits_s_107.sdi
api_atendimentos/db/data/performance_schema/table_io_waits_s_108.sdi
api_atendimentos/db/data/performance_schema/table_lock_waits_109.sdi
api_atendimentos/db/data/performance_schema/threads_110.sdi
api_atendimentos/db/data/performance_schema/tls_channel_stat_190.sdi
api_atendimentos/db/data/performance_schema/user_defined_fun_188.sdi
api_atendimentos/db/data/performance_schema/user_variables_b_176.sdi
api_atendimentos/db/data/performance_schema/users_144.sdi
api_atendimentos/db/data/performance_schema/variables_by_thr_183.sdi
api_atendimentos/db/data/performance_schema/variables_info_186.sdi
api_atendimentos/db/data/sys/sys_config.ibd
teste-app/nginx/html/nginx/modules
api_atendimentos/db/data/#ib_16384_0.dblwr
api_atendimentos/db/data/#ib_16384_1.dblwr
api_atendimentos/db/data/auto.cnf
